<!DOCTYPE html>
<html>
<head>
<title>${file}</title>
<base href="../" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/local.css">
<link rel="stylesheet" type="text/css" href="css/rbl_forms.css">
<link rel="stylesheet" type="text/css" href="js/lib/jquery-ui-1.10.4.custom/css/start/jquery-ui-1.10.4.custom.min.css">
<script type="text/javascript" src="html/js/t_form.js"></script>
<script type="text/javascript" src="html/js/t_tools.js"></script>
<script type="text/javascript" src="js/lib/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

</head>
<body>
	<div id="main">
		${data} <span id="__message__"></span>
	</div>
	<script type="text/javascript">
	jQuery(document).ready(function(){
    initFormsValidation("rbform");
    __setZoneMessage("__message__");
    jQuery("#rbform")
    .attr("action", "html/storeuserdata.action?templateFormName=form_${file}")
    .attr("onSubmit","return checkErrorSize();");
	});
    </script>
</body>
</html>

