.rb_menu {
  background-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 1px;
  padding-left: 1px;
  width: 150px;
}

.rb_menu li {
  padding-bottom: 3px;
  padding-top: 3px;
  vertical-align: middle;
  list-style: none;
}

.rb_menu li:hover {
  background-color: #2020AF;
  color: #F0FF00;
}

.rb_menu img {
  vertical-align: middle;
}

.connectedSortable {
  float: left;
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 2px;
}

#maindynamicform {
  margin-left: 120px;
  border: 1px solid blue;
  width: 500px;
  height: 300px;
}

#maindynamicform fieldset {
  border: 1px solid blue;
}

.form-control {
  display: inline;
  width: 150px;
}

fieldset {
  display: block;
  border: 1px dotted #fff;
  padding: 5px 5px 5px 10px;
  font-family: verdana, sans-serif;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  font-size: 1em;
}

.ui-front {
  z-index: 2000;
}

.selected {
  border-right: 3px solid red;
}