.rb_menu {
  background-color: transparent;
  margin-top:     0px;
  margin-bottom:  0px;
  margin-left:    0px;
  margin-right:   0px;
  
  padding-bottom: 0px;
  padding-top:    0px;
  padding-right:  1px;
  padding-left:   1px;
  width:        150px;
}
.rb_menu li {
  padding-bottom: 3px;
  padding-top:    3px;
  vertical-align: middle;
  list-style:     none;
}
.rb_menu li:hover {
  background-color: #2020AF;
  color: #F0FF00;
}
.rb_menu img {
   vertical-align: middle;
}


#sortable1 .selected { border-right: 3px solid red; }
#sortable2 .selected { border-right: 3px solid red; }
#sortable3 .selected { border-right: 3px solid red; }
#sortable4 .selected { border-right: 3px solid red; }

.p-1-col { width: 95% ; }
.p-2-col { width: 45% ; }
.p-3-col { width: 31% ; }


.connectedSortable  {
    list-style:     none;
    float:          left; 
    margin-top:      2px;
    margin-right:    2px;
}

.connectedSortable li {
    display: block;
    padding-top:    8px; 
    padding-bottom: 8px; 
    margin-bottom:  2px;
    /* width:             95% ; */
    /* background-color: #e8e8e8; */
    background-color: transparent ;
}

.connectedSortable li.elt_head {
    padding-top:    2px; 
    padding-bottom: 2px; 
    margin-right:  2px;
    margin-left:   2px;
    background-color: #cfcf60;
    text-align: left;
    color: #2020f0;
}

.connectedSortable li img.handle{
    cursor: move;
    float: right; 
}


.mxml {
    width: 99%; 
    height: 88%;
    padding: 6px; 
    overflow: auto;
    background-color: #e1e4f2;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    color: #000000;
}